In [2]:
import pandas as pd

RAW_PATH = r"D:\UWE CLASS\CSCT master\Master_project\Data\region_traffic_by_vehicle_type.csv"
df = pd.read_csv(RAW_PATH)

df.head()

,year,region_id,region_name,region_ons_code,link_length_km,link_length_miles,pedal_cycles,two_wheeled_motor_vehicles,cars_and_taxis,buses_and_coaches,LGVs,all_HGVs,all_motor_vehicles
0,1993,1,South West,E12000009,48751.55,30292.81,228000000.0,289900000.0,1.967430e+10,245000000.0,2.351700e+09,1.295600e+09,2.385660e+10
1,1993,2,East Midlands,E12000004,30681.75,19064.76,199700000.0,172800000.0,1.620020e+10,190100000.0,2.082200e+09,1.647100e+09,2.029240e+10
2,1993,3,Scotland,S92000003,58532.65,36370.50,147300000.0,126400000.0,1.767760e+10,334300000.0,2.231000e+09,1.339900e+09,2.170930e+10
3,1993,4,Wales,W92000004,32543.50,20221.59,81700000.0,104600000.0,1.127880e+10,156300000.0,1.452700e+09,7.352000e+08,1.372760e+10
4,1993,5,North West,E12000002,35952.60,22339.91,251400000.0,199200000.0,2.373000e+10,339800000.0,2.801800e+09,1.834400e+09,2.890520e+10

In [3]:
import pandas as pd

RAW_PATH = r"D:\UWE CLASS\CSCT master\Master_project\Data\region_traffic_by_vehicle_type.csv"
df = pd.read_csv(RAW_PATH)

print("Shape:", df.shape)
print("Year range:", df["year"].min(), "to", df["year"].max())
print("Number of regions:", df["region_name"].nunique())
print("Columns:", df.columns.tolist())

# Missing values 
print("\nMissing values (top 10):")
print(df.isna().sum().sort_values(ascending=False).head(10))

dup = df.duplicated(subset=["region_name", "year"]).sum()
print("\nDuplicates by (region_name, year):", dup)

# Filter 2015–2024
df_1524 = df[(df["year"] >= 2015) & (df["year"] <= 2024)].copy()

print("\n=== After filtering 2015–2024 ===")
print("Shape:", df_1524.shape)
print("Year range:", df_1524["year"].min(), "to", df_1524["year"].max())
print("Number of regions:", df_1524["region_name"].nunique())
print("Region list:", sorted(df_1524["region_name"].unique()))

OUT_PATH = r"D:\UWE CLASS\CSCT master\Master_project\Data\traffic_2015_2024.csv"
df_1524.to_csv(OUT_PATH, index=False)
print("\nSaved:", OUT_PATH)

Shape: (352, 13)
Year range: 1993 to 2024
Number of regions: 11
Columns: ['year', 'region_id', 'region_name', 'region_ons_code', 'link_length_km', 'link_length_miles', 'pedal_cycles', 'two_wheeled_motor_vehicles', 'cars_and_taxis', 'buses_and_coaches', 'LGVs', 'all_HGVs', 'all_motor_vehicles']

Missing values (top 10):
year                          0
region_id                     0
region_name                   0
region_ons_code               0
link_length_km                0
link_length_miles             0
pedal_cycles                  0
two_wheeled_motor_vehicles    0
cars_and_taxis                0
buses_and_coaches             0
dtype: int64

Duplicates by (region_name, year): 0

=== After filtering 2015–2024 ===
Shape: (110, 13)
Year range: 2015 to 2024
Number of regions: 11
Region list: ['East Midlands', 'East of England', 'London', 'North East', 'North West', 'Scotland', 'South East', 'South West', 'Wales', 'West Midlands', 'Yorkshire and the Humber']

Saved: D:\UWE CLASS\CSCT master\Master_project\Data\traffic_2015_2024.csv

In [4]:
import pandas as pd

PATH = r"D:\UWE CLASS\CSCT master\Master_project\Data\traffic_2015_2024.csv"
df = pd.read_csv(PATH)

df.head()

,year,region_id,region_name,region_ons_code,link_length_km,link_length_miles,pedal_cycles,two_wheeled_motor_vehicles,cars_and_taxis,buses_and_coaches,LGVs,all_HGVs,all_motor_vehicles
0,2015,1,South West,E12000009,50093.85,31126.88,313900000.0,366300000.0,2.609190e+10,251300000.0,5.075200e+09,1.405300e+09,3.319000e+10
1,2015,2,East Midlands,E12000004,31483.29,19562.81,268800000.0,212300000.0,2.104020e+10,184100000.0,4.087100e+09,1.901000e+09,2.742460e+10
2,2015,3,Scotland,S92000003,59345.13,36875.35,205700000.0,176900000.0,2.149690e+10,364500000.0,4.390400e+09,1.560000e+09,2.798860e+10
3,2015,4,Wales,W92000004,33881.01,21052.68,119400000.0,138300000.0,1.410930e+10,149700000.0,2.774300e+09,6.862000e+08,1.785790e+10
4,2015,5,North West,E12000002,37031.76,23010.47,317600000.0,220700000.0,2.763810e+10,287400000.0,4.997700e+09,1.895400e+09,3.503940e+10

In [5]:
vehicle_cols = [
    "two_wheeled_motor_vehicles",
    "cars_and_taxis",
    "buses_and_coaches",
    "LGVs",
    "all_HGVs"
]

# เช็คว่าคอลัมน์มีจริงครบ
missing = [c for c in vehicle_cols if c not in df.columns]
print("Missing vehicle cols:", missing)

Missing vehicle cols: []

In [6]:
panel = df.melt(
    id_vars=["year", "region_name", "region_ons_code"],
    value_vars=vehicle_cols,
    var_name="vehicle_type",
    value_name="activity_miles"
)

panel.head()

,year,region_name,region_ons_code,vehicle_type,activity_miles
0,2015,South West,E12000009,two_wheeled_motor_vehicles,366300000.0
1,2015,East Midlands,E12000004,two_wheeled_motor_vehicles,212300000.0
2,2015,Scotland,S92000003,two_wheeled_motor_vehicles,176900000.0
3,2015,Wales,W92000004,two_wheeled_motor_vehicles,138300000.0
4,2015,North West,E12000002,two_wheeled_motor_vehicles,220700000.0

In [7]:
MILES_TO_KM = 1.60934
panel["activity_km"] = panel["activity_miles"] * MILES_TO_KM

panel[["year","region_name","vehicle_type","activity_miles","activity_km"]].head()

,year,region_name,vehicle_type,activity_miles,activity_km
0,2015,South West,two_wheeled_motor_vehicles,366300000.0,589501242.0
1,2015,East Midlands,two_wheeled_motor_vehicles,212300000.0,341662882.0
2,2015,Scotland,two_wheeled_motor_vehicles,176900000.0,284692246.0
3,2015,Wales,two_wheeled_motor_vehicles,138300000.0,222571722.0
4,2015,North West,two_wheeled_motor_vehicles,220700000.0,355181338.0

In [8]:
total_km = panel.groupby(["region_name", "year"])["activity_km"].sum().rename("total_km")

panel = panel.join(total_km, on=["region_name", "year"])
panel["share_activity"] = panel["activity_km"] / panel["total_km"]

panel.head()

,year,region_name,region_ons_code,vehicle_type,activity_miles,activity_km,total_km,share_activity
0,2015,South West,E12000009,two_wheeled_motor_vehicles,366300000.0,589501242.0,5.341399e+10,0.011036
1,2015,East Midlands,E12000004,two_wheeled_motor_vehicles,212300000.0,341662882.0,4.413567e+10,0.007741
2,2015,Scotland,S92000003,two_wheeled_motor_vehicles,176900000.0,284692246.0,4.504333e+10,0.006320
3,2015,Wales,W92000004,two_wheeled_motor_vehicles,138300000.0,222571722.0,2.873927e+10,0.007745
4,2015,North West,E12000002,two_wheeled_motor_vehicles,220700000.0,355181338.0,5.639015e+10,0.006299

In [9]:
check = panel.groupby(["region_name","year"])["share_activity"].sum().reset_index()
check["diff_from_1"] = (check["share_activity"] - 1).abs()
check.sort_values("diff_from_1", ascending=False).head()

        region_name  year  share_activity   diff_from_1
5     East Midlands  2020             1.0  1.110223e-16
11  East of England  2016             1.0  1.110223e-16
31       North East  2016             1.0  1.110223e-16
14  East of England  2019             1.0  1.110223e-16
67       South East  2022             1.0  1.110223e-16

In [10]:
OUT = r"D:\UWE CLASS\CSCT master\Master_project\Data\panel_activity_long.csv"
panel.to_csv(OUT, index=False)
print("Saved:", OUT)

Saved: D:\UWE CLASS\CSCT master\Master_project\Data\panel_activity_long.csv

In [11]:
vehicle_map = {
    "cars_and_taxis": "car",
    "LGVs": "lgv",
    "all_HGVs": "hgv",
    "buses_and_coaches": "bus",
    "two_wheeled_motor_vehicles": "motorcycle"
}

panel["vehicle_std"] = panel["vehicle_type"].map(vehicle_map)

panel["vehicle_std"].isna().sum(), panel["vehicle_std"].unique()

(np.int64(0), array(['motorcycle', 'car', 'bus', 'lgv', 'hgv'], dtype=object))

In [12]:
import pandas as pd

PANEL_PATH = r"D:\UWE CLASS\CSCT master\Master_project\Data\panel_activity_long.csv"
panel = pd.read_csv(PANEL_PATH)

panel.head()

,year,region_name,region_ons_code,vehicle_type,activity_miles,activity_km,total_km,share_activity
0,2015,South West,E12000009,two_wheeled_motor_vehicles,366300000.0,589501242.0,5.341399e+10,0.011036
1,2015,East Midlands,E12000004,two_wheeled_motor_vehicles,212300000.0,341662882.0,4.413567e+10,0.007741
2,2015,Scotland,S92000003,two_wheeled_motor_vehicles,176900000.0,284692246.0,4.504333e+10,0.006320
3,2015,Wales,W92000004,two_wheeled_motor_vehicles,138300000.0,222571722.0,2.873927e+10,0.007745
4,2015,North West,E12000002,two_wheeled_motor_vehicles,220700000.0,355181338.0,5.639015e+10,0.006299

In [13]:
import pandas as pd

CF_PATH = r"D:\UWE CLASS\CSCT master\Master_project\Data\ghg-conversion-factors-2024-FlatFormat_v1_1.xlsx"

tmp = pd.read_excel(CF_PATH, sheet_name="Factors by Category", header=None)
header_row = tmp.index[tmp.iloc[:,0].astype(str).str.strip().eq("ID")][0]

cf = pd.read_excel(CF_PATH, sheet_name="Factors by Category", header=header_row)

print("Header row:", header_row)
print("Shape:", cf.shape)
cf.head()

Header row: 5
Shape: (8742, 10)

,ID,Scope,Level 1,Level 2,Level 3,Level 4,Column Text,UOM,GHG/Unit,GHG Conversion Factor 2024
0,1_100_1000_15_1,Scope 1,Fuels,Gaseous fuels,Butane,NaN,NaN,tonnes,kg CO2e,3033.38067
1,1_100_1000_15_2,Scope 1,Fuels,Gaseous fuels,Butane,NaN,NaN,tonnes,kg CO2e of CO2 per unit,3029.26000
2,1_100_1000_15_3,Scope 1,Fuels,Gaseous fuels,Butane,NaN,NaN,tonnes,kg CO2e of CH4 per unit,2.52000
3,1_100_1000_15_4,Scope 1,Fuels,Gaseous fuels,Butane,NaN,NaN,tonnes,kg CO2e of N2O per unit,1.60067
4,1_100_1000_8_1,Scope 1,Fuels,Gaseous fuels,Butane,NaN,NaN,litres,kg CO2e,1.74532

In [14]:
UOM_COL = "UOM"
GHG_COL = "GHG/Unit"
FACTOR_COL = "GHG Conversion Factor 2024"

L1 = "Level 1"
L2 = "Level 2"
L3 = "Level 3"
L4 = "Level 4"
CT = "Column Text"


kmf = cf[
    (cf[UOM_COL].astype(str).str.strip() == "km") &
    (cf[GHG_COL].astype(str).str.contains("kg CO2e", case=False, na=False))
].copy()

print("km factors shape:", kmf.shape)
kmf[[L1, L2, L3, CT, UOM_COL, GHG_COL, FACTOR_COL]].head(10)

km factors shape: (2882, 10)

,Level 1,Level 2,Level 3,Column Text,UOM,GHG/Unit,GHG Conversion Factor 2024
1021,Passenger vehicles,Cars (by market segment),Mini,Diesel,km,kg CO2e,0.107640
1022,Passenger vehicles,Cars (by market segment),Mini,Diesel,km,kg CO2e of CO2 per unit,0.105970
1023,Passenger vehicles,Cars (by market segment),Mini,Diesel,km,kg CO2e of CH4 per unit,0.000005
1024,Passenger vehicles,Cars (by market segment),Mini,Diesel,km,kg CO2e of N2O per unit,0.001670
1025,Passenger vehicles,Cars (by market segment),Mini,Petrol,km,kg CO2e,0.130870
1026,Passenger vehicles,Cars (by market segment),Mini,Petrol,km,kg CO2e of CO2 per unit,0.130190
1027,Passenger vehicles,Cars (by market segment),Mini,Petrol,km,kg CO2e of CH4 per unit,0.000360
1028,Passenger vehicles,Cars (by market segment),Mini,Petrol,km,kg CO2e of N2O per unit,0.000320
1029,Passenger vehicles,Cars (by market segment),Mini,Hybrid,km,kg CO2e,NaN
1030,Passenger vehicles,Cars (by market segment),Mini,Hybrid,km,kg CO2e of CO2 per unit,NaN

In [15]:
kmf_total = kmf[kmf[GHG_COL].astype(str).str.strip().eq("kg CO2e")].copy()
print("km factors (total kg CO2e) shape:", kmf_total.shape)
kmf_total[[L1, L2, L3, CT, UOM_COL, GHG_COL, FACTOR_COL]].head(15)

km factors (total kg CO2e) shape: (872, 10)

,Level 1,Level 2,Level 3,Column Text,UOM,GHG/Unit,GHG Conversion Factor 2024
1021,Passenger vehicles,Cars (by market segment),Mini,Diesel,km,kg CO2e,0.10764
1025,Passenger vehicles,Cars (by market segment),Mini,Petrol,km,kg CO2e,0.13087
1029,Passenger vehicles,Cars (by market segment),Mini,Hybrid,km,kg CO2e,NaN
1033,Passenger vehicles,Cars (by market segment),Mini,CNG,km,kg CO2e,NaN
1037,Passenger vehicles,Cars (by market segment),Mini,LPG,km,kg CO2e,NaN
1041,Passenger vehicles,Cars (by market segment),Mini,Unknown,km,kg CO2e,0.13073
1045,Passenger vehicles,Cars (by market segment),Mini,Plug-in Hybrid Electric Vehicle,km,kg CO2e,NaN
1049,Passenger vehicles,Cars (by market segment),Mini,Battery Electric Vehicle,km,kg CO2e,0.00000
1085,Passenger vehicles,Cars (by market segment),Supermini,Diesel,km,kg CO2e,0.13178
1089,Passenger vehicles,Cars (by market segment),Supermini,Petrol,km,kg CO2e,0.14387
1093,Passenger vehicles,Cars (by market segment),Supermini,Hybrid,km,kg CO2e,NaN
1097,Passenger vehicles,Cars (by market segment),Supermini,CNG,km,kg CO2e,NaN
1101,Passenger vehicles,Cars (by market segment),Supermini,LPG,km,kg CO2e,NaN
1105,Passenger vehicles,Cars (by market segment),Supermini,Unknown,km,kg CO2e,0.14256
1109,Passenger vehicles,Cars (by market segment),Supermini,Plug-in Hybrid Electric Vehicle,km,kg CO2e,0.03012

In [16]:
def show_candidates(df, label, cond):
    sub = df.loc[cond, [L1, L2, L3, L4, CT, UOM_COL, GHG_COL, FACTOR_COL]].copy()
    print(f"\n--- {label}: candidates = {len(sub)} ---")
    display(sub.head(20))
    return sub

In [17]:
car_cand = show_candidates(
    kmf_total,
    "CAR",
    kmf_total[L2].astype(str).str.contains("Cars", case=False, na=False)
)

lgv_cand = show_candidates(
    kmf_total,
    "VAN/LGV",
    kmf_total[L2].astype(str).str.contains("Vans", case=False, na=False)
)

hgv_cand = show_candidates(
    kmf_total,
    "HGV",
    kmf_total[L2].astype(str).str.contains("HGV", case=False, na=False)
)

moto_cand = show_candidates(
    kmf_total,
    "MOTORBIKE",
    kmf_total[L2].astype(str).str.contains("Motor", case=False, na=False)
)

--- CAR: candidates = 468 ---

,Level 1,Level 2,Level 3,Level 4,Column Text,UOM,GHG/Unit,GHG Conversion Factor 2024
1021,Passenger vehicles,Cars (by market segment),Mini,NaN,Diesel,km,kg CO2e,0.10764
1025,Passenger vehicles,Cars (by market segment),Mini,NaN,Petrol,km,kg CO2e,0.13087
1029,Passenger vehicles,Cars (by market segment),Mini,NaN,Hybrid,km,kg CO2e,NaN
1033,Passenger vehicles,Cars (by market segment),Mini,NaN,CNG,km,kg CO2e,NaN
1037,Passenger vehicles,Cars (by market segment),Mini,NaN,LPG,km,kg CO2e,NaN
1041,Passenger vehicles,Cars (by market segment),Mini,NaN,Unknown,km,kg CO2e,0.13073
1045,Passenger vehicles,Cars (by market segment),Mini,NaN,Plug-in Hybrid Electric Vehicle,km,kg CO2e,NaN
1049,Passenger vehicles,Cars (by market segment),Mini,NaN,Battery Electric Vehicle,km,kg CO2e,0.00000
1085,Passenger vehicles,Cars (by market segment),Supermini,NaN,Diesel,km,kg CO2e,0.13178
1089,Passenger vehicles,Cars (by market segment),Supermini,NaN,Petrol,km,kg CO2e,0.14387
1093,Passenger vehicles,Cars (by market segment),Supermini,NaN,Hybrid,km,kg CO2e,NaN
1097,Passenger vehicles,Cars (by market segment),Supermini,NaN,CNG,km,kg CO2e,NaN
1101,Passenger vehicles,Cars (by market segment),Supermini,NaN,LPG,km,kg CO2e,NaN
1105,Passenger vehicles,Cars (by market segment),Supermini,NaN,Unknown,km,kg CO2e,0.14256
1109,Passenger vehicles,Cars (by market segment),Supermini,NaN,Plug-in Hybrid Electric Vehicle,km,kg CO2e,0.03012
1113,Passenger vehicles,Cars (by market segment),Supermini,NaN,Battery Electric Vehicle,km,kg CO2e,0.00000
1149,Passenger vehicles,Cars (by market segment),Lower medium,NaN,Diesel,km,kg CO2e,0.14288
1153,Passenger vehicles,Cars (by market segment),Lower medium,NaN,Petrol,km,kg CO2e,0.16392
1157,Passenger vehicles,Cars (by market segment),Lower medium,NaN,Hybrid,km,kg CO2e,NaN
1161,Passenger vehicles,Cars (by market segment),Lower medium,NaN,CNG,km,kg CO2e,NaN

--- VAN/LGV: candidates = 128 ---

,Level 1,Level 2,Level 3,Level 4,Column Text,UOM,GHG/Unit,GHG Conversion Factor 2024
1885,Delivery vehicles,Vans,Class I (up to 1.305 tonnes),NaN,Diesel,km,kg CO2e,0.15356
1889,Delivery vehicles,Vans,Class I (up to 1.305 tonnes),NaN,Petrol,km,kg CO2e,0.20071
1893,Delivery vehicles,Vans,Class I (up to 1.305 tonnes),NaN,CNG,km,kg CO2e,NaN
1897,Delivery vehicles,Vans,Class I (up to 1.305 tonnes),NaN,LPG,km,kg CO2e,NaN
1901,Delivery vehicles,Vans,Class I (up to 1.305 tonnes),NaN,Unknown,km,kg CO2e,NaN
1905,Delivery vehicles,Vans,Class I (up to 1.305 tonnes),NaN,Plug-in Hybrid Electric Vehicle,km,kg CO2e,NaN
1909,Delivery vehicles,Vans,Class I (up to 1.305 tonnes),NaN,Battery Electric Vehicle,km,kg CO2e,0.00000
1941,Delivery vehicles,Vans,Class II (1.305 to 1.74 tonnes),NaN,Diesel,km,kg CO2e,0.18832
1945,Delivery vehicles,Vans,Class II (1.305 to 1.74 tonnes),NaN,Petrol,km,kg CO2e,0.21709
1949,Delivery vehicles,Vans,Class II (1.305 to 1.74 tonnes),NaN,CNG,km,kg CO2e,NaN
1953,Delivery vehicles,Vans,Class II (1.305 to 1.74 tonnes),NaN,LPG,km,kg CO2e,NaN
1957,Delivery vehicles,Vans,Class II (1.305 to 1.74 tonnes),NaN,Unknown,km,kg CO2e,NaN
1961,Delivery vehicles,Vans,Class II (1.305 to 1.74 tonnes),NaN,Plug-in Hybrid Electric Vehicle,km,kg CO2e,NaN
1965,Delivery vehicles,Vans,Class II (1.305 to 1.74 tonnes),NaN,Battery Electric Vehicle,km,kg CO2e,0.00000
1997,Delivery vehicles,Vans,Class III (1.74 to 3.5 tonnes),NaN,Diesel,km,kg CO2e,0.27365
2001,Delivery vehicles,Vans,Class III (1.74 to 3.5 tonnes),NaN,Petrol,km,kg CO2e,0.34923
2005,Delivery vehicles,Vans,Class III (1.74 to 3.5 tonnes),NaN,CNG,km,kg CO2e,NaN
2009,Delivery vehicles,Vans,Class III (1.74 to 3.5 tonnes),NaN,LPG,km,kg CO2e,NaN
2013,Delivery vehicles,Vans,Class III (1.74 to 3.5 tonnes),NaN,Unknown,km,kg CO2e,NaN
2017,Delivery vehicles,Vans,Class III (1.74 to 3.5 tonnes),NaN,Plug-in Hybrid Electric Vehicle,km,kg CO2e,0.13292

--- HGV: candidates = 256 ---

,Level 1,Level 2,Level 3,Level 4,Column Text,UOM,GHG/Unit,GHG Conversion Factor 2024
2109,Delivery vehicles,HGV (all diesel),Rigid (>3.5 - 7.5 tonnes),NaN,0% Laden,km,kg CO2e,0.45380
2113,Delivery vehicles,HGV (all diesel),Rigid (>3.5 - 7.5 tonnes),NaN,50% Laden,km,kg CO2e,0.49279
2117,Delivery vehicles,HGV (all diesel),Rigid (>3.5 - 7.5 tonnes),NaN,100% Laden,km,kg CO2e,0.53178
2121,Delivery vehicles,HGV (all diesel),Rigid (>3.5 - 7.5 tonnes),NaN,Average laden,km,kg CO2e,0.48733
2141,Delivery vehicles,HGV (all diesel),Rigid (>7.5 tonnes-17 tonnes),NaN,0% Laden,km,kg CO2e,0.54426
2145,Delivery vehicles,HGV (all diesel),Rigid (>7.5 tonnes-17 tonnes),NaN,50% Laden,km,kg CO2e,0.62106
2149,Delivery vehicles,HGV (all diesel),Rigid (>7.5 tonnes-17 tonnes),NaN,100% Laden,km,kg CO2e,0.69787
2153,Delivery vehicles,HGV (all diesel),Rigid (>7.5 tonnes-17 tonnes),NaN,Average laden,km,kg CO2e,0.59495
2173,Delivery vehicles,HGV (all diesel),Rigid (>17 tonnes),NaN,0% Laden,km,kg CO2e,0.74987
2177,Delivery vehicles,HGV (all diesel),Rigid (>17 tonnes),NaN,50% Laden,km,kg CO2e,0.91210
2181,Delivery vehicles,HGV (all diesel),Rigid (>17 tonnes),NaN,100% Laden,km,kg CO2e,1.07433
2185,Delivery vehicles,HGV (all diesel),Rigid (>17 tonnes),NaN,Average laden,km,kg CO2e,0.97698
2205,Delivery vehicles,HGV (all diesel),All rigids,NaN,0% Laden,km,kg CO2e,0.66163
2209,Delivery vehicles,HGV (all diesel),All rigids,NaN,50% Laden,km,kg CO2e,0.78719
2213,Delivery vehicles,HGV (all diesel),All rigids,NaN,100% Laden,km,kg CO2e,0.91274
2217,Delivery vehicles,HGV (all diesel),All rigids,NaN,Average laden,km,kg CO2e,0.82657
2237,Delivery vehicles,HGV (all diesel),Articulated (>3.5 - 33t),NaN,0% Laden,km,kg CO2e,0.61558
2241,Delivery vehicles,HGV (all diesel),Articulated (>3.5 - 33t),NaN,50% Laden,km,kg CO2e,0.76642
2245,Delivery vehicles,HGV (all diesel),Articulated (>3.5 - 33t),NaN,100% Laden,km,kg CO2e,0.91726
2249,Delivery vehicles,HGV (all diesel),Articulated (>3.5 - 33t),NaN,Average laden,km,kg CO2e,0.76642

--- MOTORBIKE: candidates = 16 ---

,Level 1,Level 2,Level 3,Level 4,Column Text,UOM,GHG/Unit,GHG Conversion Factor 2024
1853,Passenger vehicles,Motorbike,Small,NaN,NaN,km,kg CO2e,0.08319
1861,Passenger vehicles,Motorbike,Medium,NaN,NaN,km,kg CO2e,0.10107
1869,Passenger vehicles,Motorbike,Large,NaN,NaN,km,kg CO2e,0.13252
1877,Passenger vehicles,Motorbike,Average,NaN,NaN,km,kg CO2e,0.11367
5390,Business travel- land,Motorbike,Small,NaN,NaN,km,kg CO2e,0.08319
5398,Business travel- land,Motorbike,Medium,NaN,NaN,km,kg CO2e,0.10107
5406,Business travel- land,Motorbike,Large,NaN,NaN,km,kg CO2e,0.13252
5414,Business travel- land,Motorbike,Average,NaN,NaN,km,kg CO2e,0.11367
5678,WTT- pass vehs & travel- land,WTT- motorbike,Small,NaN,NaN,km,kg CO2e,0.02148
5680,WTT- pass vehs & travel- land,WTT- motorbike,Medium,NaN,NaN,km,kg CO2e,0.02608
5682,WTT- pass vehs & travel- land,WTT- motorbike,Large,NaN,NaN,km,kg CO2e,0.03469
5684,WTT- pass vehs & travel- land,WTT- motorbike,Average,NaN,NaN,km,kg CO2e,0.02956
8647,Managed assets- vehicles,Managed motorbikes,Small,NaN,NaN,km,kg CO2e,0.08319
8655,Managed assets- vehicles,Managed motorbikes,Medium,NaN,NaN,km,kg CO2e,0.10107
8663,Managed assets- vehicles,Managed motorbikes,Large,NaN,NaN,km,kg CO2e,0.13252
8671,Managed assets- vehicles,Managed motorbikes,Average,NaN,NaN,km,kg CO2e,0.11367

In [18]:
vehicle_map = {
    "cars_and_taxis": "car",
    "LGVs": "lgv",
    "all_HGVs": "hgv",
    "buses_and_coaches": "bus",
    "two_wheeled_motor_vehicles": "motorcycle",
}

panel["vehicle_std"] = panel["vehicle_type"].map(vehicle_map)
panel["vehicle_std"].isna().sum(), panel["vehicle_std"].unique()

(np.int64(0), array(['motorcycle', 'car', 'bus', 'lgv', 'hgv'], dtype=object))

In [19]:
car_rows = kmf_total[
    (kmf_total[L1] == "Passenger vehicles") &
    (kmf_total[L2].astype(str).str.contains("Cars", case=False, na=False)) &
    (kmf_total[CT].astype(str).str.strip().eq("Unknown"))
].copy()

car_rows = car_rows[car_rows[FACTOR_COL].notna()]

print("car rows:", car_rows.shape)
display(car_rows[[L2, L3, CT, FACTOR_COL]].head(20))

ef_car = car_rows[FACTOR_COL].mean()
print("ef_car (kg CO2e/km):", ef_car)

car rows: (13, 10)

,Level 2,Level 3,Column Text,GHG Conversion Factor 2024
1041,Cars (by market segment),Mini,Unknown,0.13073
1105,Cars (by market segment),Supermini,Unknown,0.14256
1169,Cars (by market segment),Lower medium,Unknown,0.15504
1233,Cars (by market segment),Upper medium,Unknown,0.16763
1297,Cars (by market segment),Executive,Unknown,0.17929
1361,Cars (by market segment),Luxury,Unknown,0.25825
1425,Cars (by market segment),Sports,Unknown,0.22519
1489,Cars (by market segment),Dual purpose 4X4,Unknown,0.19721
1553,Cars (by market segment),MPV,Unknown,0.17891
1617,Cars (by size),Small car,Unknown,0.14262
1681,Cars (by size),Medium car,Unknown,0.17256
1745,Cars (by size),Large car,Unknown,0.22472
1809,Cars (by size),Average car,Unknown,0.16691

ef_car (kg CO2e/km): 0.18012461538461538

In [20]:
lgv_rows = kmf_total[
    (kmf_total[L1].astype(str).str.contains("Delivery", case=False, na=False)) &
    (kmf_total[L2].astype(str).str.contains("Vans", case=False, na=False)) &
    (kmf_total[CT].astype(str).str.strip().eq("Unknown"))
].copy()

lgv_rows = lgv_rows[lgv_rows[FACTOR_COL].notna()]

print("lgv rows:", lgv_rows.shape)
display(lgv_rows[[L2, L3, CT, FACTOR_COL]].head(20))

ef_lgv = lgv_rows[FACTOR_COL].mean()
print("ef_lgv (kg CO2e/km):", ef_lgv)

lgv rows: (2, 10)

,Level 2,Level 3,Column Text,GHG Conversion Factor 2024
2069,Vans,Average (up to 3.5 tonnes),Unknown,0.24934
7124,WTT- vans,Average (up to 3.5 tonnes),Unknown,0.06130

ef_lgv (kg CO2e/km): 0.15532

In [21]:
hgv_rows = kmf_total[
    (kmf_total[L2].astype(str).str.contains("HGV", case=False, na=False)) |
    (kmf_total[L1].astype(str).str.contains("Freight", case=False, na=False)) |
    (kmf_total[L2].astype(str).str.contains("Rigid", case=False, na=False)) |
    (kmf_total[L2].astype(str).str.contains("Artic", case=False, na=False))
].copy()

hgv_rows = hgv_rows[hgv_rows[FACTOR_COL].notna()]

print("hgv candidate rows:", hgv_rows.shape)
display(hgv_rows[[L1, L2, L3, CT, FACTOR_COL]].head(30))

hgv candidate rows: (290, 10)

,Level 1,Level 2,Level 3,Column Text,GHG Conversion Factor 2024
2109,Delivery vehicles,HGV (all diesel),Rigid (>3.5 - 7.5 tonnes),0% Laden,0.45380
2113,Delivery vehicles,HGV (all diesel),Rigid (>3.5 - 7.5 tonnes),50% Laden,0.49279
2117,Delivery vehicles,HGV (all diesel),Rigid (>3.5 - 7.5 tonnes),100% Laden,0.53178
2121,Delivery vehicles,HGV (all diesel),Rigid (>3.5 - 7.5 tonnes),Average laden,0.48733
2141,Delivery vehicles,HGV (all diesel),Rigid (>7.5 tonnes-17 tonnes),0% Laden,0.54426
2145,Delivery vehicles,HGV (all diesel),Rigid (>7.5 tonnes-17 tonnes),50% Laden,0.62106
2149,Delivery vehicles,HGV (all diesel),Rigid (>7.5 tonnes-17 tonnes),100% Laden,0.69787
2153,Delivery vehicles,HGV (all diesel),Rigid (>7.5 tonnes-17 tonnes),Average laden,0.59495
2173,Delivery vehicles,HGV (all diesel),Rigid (>17 tonnes),0% Laden,0.74987
2177,Delivery vehicles,HGV (all diesel),Rigid (>17 tonnes),50% Laden,0.91210
2181,Delivery vehicles,HGV (all diesel),Rigid (>17 tonnes),100% Laden,1.07433
2185,Delivery vehicles,HGV (all diesel),Rigid (>17 tonnes),Average laden,0.97698
2205,Delivery vehicles,HGV (all diesel),All rigids,0% Laden,0.66163
2209,Delivery vehicles,HGV (all diesel),All rigids,50% Laden,0.78719
2213,Delivery vehicles,HGV (all diesel),All rigids,100% Laden,0.91274
2217,Delivery vehicles,HGV (all diesel),All rigids,Average laden,0.82657
2237,Delivery vehicles,HGV (all diesel),Articulated (>3.5 - 33t),0% Laden,0.61558
2241,Delivery vehicles,HGV (all diesel),Articulated (>3.5 - 33t),50% Laden,0.76642
2245,Delivery vehicles,HGV (all diesel),Articulated (>3.5 - 33t),100% Laden,0.91726
2249,Delivery vehicles,HGV (all diesel),Articulated (>3.5 - 33t),Average laden,0.76642
2269,Delivery vehicles,HGV (all diesel),Articulated (>33t),0% Laden,0.63238
2273,Delivery vehicles,HGV (all diesel),Articulated (>33t),50% Laden,0.83833
2277,Delivery vehicles,HGV (all diesel),Articulated (>33t),100% Laden,1.04428
2281,Delivery vehicles,HGV (all diesel),Articulated (>33t),Average laden,0.91247
2301,Delivery vehicles,HGV (all diesel),All artics,0% Laden,0.63162
2305,Delivery vehicles,HGV (all diesel),All artics,50% Laden,0.83506
2309,Delivery vehicles,HGV (all diesel),All artics,100% Laden,1.03849
2313,Delivery vehicles,HGV (all diesel),All artics,Average laden,0.90581
2333,Delivery vehicles,HGV (all diesel),All HGVs,0% Laden,0.64392
2337,Delivery vehicles,HGV (all diesel),All HGVs,50% Laden,0.81517

In [22]:
hgv_pick = hgv_rows[
    hgv_rows[CT].astype(str).str.contains("Average|Unknown", case=False, na=False)
].copy()

# ถ้าไม่เจอ Average/Unknown ก็เฉลี่ยจากทั้งหมดที่มี
if len(hgv_pick) == 0:
    ef_hgv = hgv_rows[FACTOR_COL].mean()
else:
    ef_hgv = hgv_pick[FACTOR_COL].mean()

print("ef_hgv (kg CO2e/km):", ef_hgv)

ef_hgv (kg CO2e/km): 0.6824022727272727

In [23]:
moto_rows = kmf_total[
    kmf_total[L2].astype(str).str.contains("Motorbike|Motorcycle", case=False, na=False)
].copy()

moto_rows = moto_rows[moto_rows[FACTOR_COL].notna()]

print("motorcycle rows:", moto_rows.shape)
display(moto_rows[[L1, L2, L3, CT, FACTOR_COL]].head(30))

ef_moto = moto_rows[FACTOR_COL].mean()
print("ef_motorcycle (kg CO2e/km):", ef_moto)

motorcycle rows: (16, 10)

,Level 1,Level 2,Level 3,Column Text,GHG Conversion Factor 2024
1853,Passenger vehicles,Motorbike,Small,NaN,0.08319
1861,Passenger vehicles,Motorbike,Medium,NaN,0.10107
1869,Passenger vehicles,Motorbike,Large,NaN,0.13252
1877,Passenger vehicles,Motorbike,Average,NaN,0.11367
5390,Business travel- land,Motorbike,Small,NaN,0.08319
5398,Business travel- land,Motorbike,Medium,NaN,0.10107
5406,Business travel- land,Motorbike,Large,NaN,0.13252
5414,Business travel- land,Motorbike,Average,NaN,0.11367
5678,WTT- pass vehs & travel- land,WTT- motorbike,Small,NaN,0.02148
5680,WTT- pass vehs & travel- land,WTT- motorbike,Medium,NaN,0.02608
5682,WTT- pass vehs & travel- land,WTT- motorbike,Large,NaN,0.03469
5684,WTT- pass vehs & travel- land,WTT- motorbike,Average,NaN,0.02956
8647,Managed assets- vehicles,Managed motorbikes,Small,NaN,0.08319
8655,Managed assets- vehicles,Managed motorbikes,Medium,NaN,0.10107
8663,Managed assets- vehicles,Managed motorbikes,Large,NaN,0.13252
8671,Managed assets- vehicles,Managed motorbikes,Average,NaN,0.11367

ef_motorcycle (kg CO2e/km): 0.0876975

In [24]:
bus_km_rows = kmf_total[
    kmf_total[L2].astype(str).str.contains("Bus|Coach", case=False, na=False)
].copy()

bus_km_rows = bus_km_rows[bus_km_rows[FACTOR_COL].notna()]

print("bus km rows:", bus_km_rows.shape)
display(bus_km_rows[[L1, L2, L3, CT, FACTOR_COL]].head(30))

ef_bus = bus_km_rows[FACTOR_COL].mean()
print("ef_bus (kg CO2e/km):", ef_bus)

bus km rows: (0, 10)

Empty DataFrame
Columns: [Level 1, Level 2, Level 3, Column Text, GHG Conversion Factor 2024]
Index: []

ef_bus (kg CO2e/km): nan

In [25]:
car_avg = kmf_total[
    (kmf_total["Level 1"] == "Passenger vehicles") &
    (kmf_total["Level 2"] == "Cars (by size)") &
    (kmf_total["Level 3"] == "Average car") &
    (kmf_total["Column Text"].astype(str).str.strip().eq("Unknown"))
].copy()

ef_car = float(car_avg.iloc[0]["GHG Conversion Factor 2024"])
ef_car

0.16691

In [ ]:
lgv_rows = kmf_total[
    (kmf_total["Level 2"].astype(str).str.contains("Vans", case=False, na=False)) &
    (kmf_total["Column Text"].astype(str).str.strip().eq("Unknown"))
].copy()
lgv_rows = lgv_rows[lgv_rows["GHG Conversion Factor 2024"].notna()]


ef_lgv = float(lgv_rows["GHG Conversion Factor 2024"].mean())
ef_lgv

0.20233

In [27]:
hgv_rows = kmf_total[
    kmf_total["Level 2"].astype(str).str.contains("HGV", case=False, na=False)
].copy()
hgv_rows = hgv_rows[hgv_rows["GHG Conversion Factor 2024"].notna()]

ef_hgv = float(hgv_rows["GHG Conversion Factor 2024"].mean())
ef_hgv

0.6761294531250001

In [28]:
moto_rows = kmf_total[
    kmf_total["Level 2"].astype(str).str.contains("Motorbike|Motorcycle", case=False, na=False)
].copy()
moto_rows = moto_rows[moto_rows["GHG Conversion Factor 2024"].notna()]

ef_moto = float(moto_rows["GHG Conversion Factor 2024"].mean())
ef_moto

0.0876975

In [29]:
bus_km = kmf_total[
    kmf_total["Level 2"].astype(str).str.contains("Bus|Coach", case=False, na=False)
].copy()
bus_km = bus_km[bus_km["GHG Conversion Factor 2024"].notna()]

bus_km.shape

(0, 10)

In [30]:
pkm = cf[
    (cf["UOM"].astype(str).str.strip() == "passenger.km") &
    (cf["GHG/Unit"].astype(str).str.strip() == "kg CO2e")
].copy()

bus_pkm = pkm[pkm["Level 2"].astype(str).str.contains("Bus|Coach", case=False, na=False)].copy()
bus_pkm = bus_pkm[bus_pkm["GHG Conversion Factor 2024"].notna()]

display(bus_pkm[["Level 1","Level 2","Level 3","Column Text","GHG Conversion Factor 2024"]].head(20))

# ===== สมมติฐาน (ปรับได้) =====
AVG_PASSENGERS_BUS = 10
# ==============================

ef_bus = float(bus_pkm["GHG Conversion Factor 2024"].mean() * AVG_PASSENGERS_BUS)
ef_bus

,Level 1,Level 2,Level 3,Column Text,GHG Conversion Factor 2024
5438,Business travel- land,Bus,Local bus (not London),NaN,0.12999
5442,Business travel- land,Bus,Local London bus,NaN,0.07447
5446,Business travel- land,Bus,Average local bus,NaN,0.10846
5450,Business travel- land,Bus,Coach,NaN,0.02717
5690,WTT- pass vehs & travel- land,WTT- bus,Local bus (not London),NaN,0.03174
5691,WTT- pass vehs & travel- land,WTT- bus,Local London bus,NaN,0.01821
5692,WTT- pass vehs & travel- land,WTT- bus,Average local bus,NaN,0.02649
5693,WTT- pass vehs & travel- land,WTT- bus,Coach,NaN,0.00656

0.5288625

In [31]:
ef = pd.DataFrame([
    ["car", ef_car],
    ["lgv", ef_lgv],
    ["hgv", ef_hgv],
    ["motorcycle", ef_moto],
    ["bus", ef_bus],
], columns=["vehicle_std", "ef_kgco2e_per_km"])

display(ef)

panel2 = panel.merge(ef, on="vehicle_std", how="left")

missing = panel2.loc[panel2["ef_kgco2e_per_km"].isna(), "vehicle_std"].unique()
print("Missing EF for:", missing)

panel2["co2e_kg"] = panel2["activity_km"] * panel2["ef_kgco2e_per_km"]
panel2["co2e_tonnes"] = panel2["co2e_kg"] / 1000

region_year = (
    panel2.groupby(["region_name","year"], as_index=False)["co2e_tonnes"]
          .sum()
          .rename(columns={"co2e_tonnes":"co2e_tonnes_total"})
)

OUT1 = r"D:\UWE CLASS\CSCT master\Master_project\Data\region_year_co2e.csv"
region_year.to_csv(OUT1, index=False)

OUT2 = r"D:\UWE CLASS\CSCT master\Master_project\Data\region_year_vehicle_co2e_breakdown.csv"
panel2[["region_name","year","vehicle_std","activity_km","share_activity","co2e_tonnes"]].to_csv(OUT2, index=False)

print("Saved:", OUT1)
print("Saved:", OUT2)
region_year.head()

  vehicle_std  ef_kgco2e_per_km
0         car          0.166910
1         lgv          0.202330
2         hgv          0.676129
3  motorcycle          0.087697
4         bus          0.528863

Missing EF for: []
Saved: D:\UWE CLASS\CSCT master\Master_project\Data\region_year_co2e.csv
Saved: D:\UWE CLASS\CSCT master\Master_project\Data\region_year_vehicle_co2e_breakdown.csv

     region_name  year  co2e_tonnes_total
0  East Midlands  2015       9.237719e+06
1  East Midlands  2016       9.515900e+06
2  East Midlands  2017       9.671759e+06
3  East Midlands  2018       9.750602e+06
4  East Midlands  2019       9.921433e+06