In [57]:
import os
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [58]:
import os
import pandas as pd

DATA_DIR = r"D:\UWE CLASS\CSCT master\Master_project\Data"   
OUT_TABLES = r"D:\UWE CLASS\CSCT master\Master_project\outputs\tables"
OUT_FIGS   = r"D:\UWE CLASS\CSCT master\Master_project\outputs\figures"

os.makedirs(OUT_TABLES, exist_ok=True)
os.makedirs(OUT_FIGS, exist_ok=True)


files = sorted(os.listdir(DATA_DIR))
files[:50], len(files)

(['RoadtransportEFs_NAEI23_v1.xlsx',
  'ghg-conversion-factors-2024-FlatFormat_v1_1.xlsx',
  'panel_activity_long.csv',
  'region_traffic_by_vehicle_type.csv',
  'region_year_co2e.csv',
  'region_year_panel_for_regression.csv',
  'region_year_vehicle_co2e_breakdown.csv',
  'tra0101-miles-by-vehicle-type.ods',
  'tra0101-miles-by-vehicle-type.xlsx',
  'traffic_2015_2024.csv'],
 10)

In [59]:
import os
import pandas as pd

DATA_DIR = r"D:\UWE CLASS\CSCT master\Master_project\Data"

cands = [f for f in os.listdir(DATA_DIR) if f.lower().startswith("region_year_co2e")]
print("Candidates:", cands)

if len(cands) == 0:
    raise FileNotFoundError("No file starting with 'region_year_co2e' found in DATA_DIR")

fname = cands[0]
DATA_FILE = os.path.join(DATA_DIR, fname)
print("Loading:", DATA_FILE)

if fname.lower().endswith(".csv"):
    df = pd.read_csv(DATA_FILE)
elif fname.lower().endswith((".xlsx", ".xls")):
    df = pd.read_excel(DATA_FILE)
else:
    raise ValueError(f"Unsupported file type: {fname}")

df.head(), df.shape

Candidates: ['region_year_co2e.csv']
Loading: D:\UWE CLASS\CSCT master\Master_project\Data\region_year_co2e.csv

(     region_name  year  co2e_tonnes_total
 0  East Midlands  2015       9.237719e+06
 1  East Midlands  2016       9.515900e+06
 2  East Midlands  2017       9.671759e+06
 3  East Midlands  2018       9.750602e+06
 4  East Midlands  2019       9.921433e+06,
 (110, 3))

In [60]:

df.columns

Index(['region_name', 'year', 'co2e_tonnes_total'], dtype='object')

In [61]:
import os
import pandas as pd

DATA_DIR = r"D:\UWE CLASS\CSCT master\Master_project\Data"

def load_any(path):
    if path.lower().endswith(".csv"):
        return pd.read_csv(path)
    elif path.lower().endswith((".xlsx", ".xls")):
        return pd.read_excel(path)
    else:
        raise ValueError(f"Unsupported file: {path}")

# file patterns ที่น่าจะเป็น fleet composition / activity
patterns = [
    "region_year_vehicle",
    "region_traffic_by_vehicle_type",
    "traffic_2015_2024",
    "panel_activity_long"
]

candidates = []
for f in os.listdir(DATA_DIR):
    fl = f.lower()
    if any(p in fl for p in patterns):
        candidates.append(f)

print("Candidate files:")
for f in candidates:
    print(" -", f)

# Preview columns for each candidate
previews = []
for f in candidates:
    p = os.path.join(DATA_DIR, f)
    try:
        tmp = load_any(p)
        previews.append((f, tmp.shape, list(tmp.columns)[:30]))
    except Exception as e:
        previews.append((f, "ERROR", str(e)))

previews

Candidate files:
 - panel_activity_long.csv
 - region_traffic_by_vehicle_type.csv
 - region_year_vehicle_co2e_breakdown.csv
 - traffic_2015_2024.csv

[('panel_activity_long.csv',
  (550, 8),
  ['year',
   'region_name',
   'region_ons_code',
   'vehicle_type',
   'activity_miles',
   'activity_km',
   'total_km',
   'share_activity']),
 ('region_traffic_by_vehicle_type.csv',
  (352, 13),
  ['year',
   'region_id',
   'region_name',
   'region_ons_code',
   'link_length_km',
   'link_length_miles',
   'pedal_cycles',
   'two_wheeled_motor_vehicles',
   'cars_and_taxis',
   'buses_and_coaches',
   'LGVs',
   'all_HGVs',
   'all_motor_vehicles']),
 ('region_year_vehicle_co2e_breakdown.csv',
  (550, 6),
  ['region_name',
   'year',
   'vehicle_std',
   'activity_km',
   'share_activity',
   'co2e_tonnes']),
 ('traffic_2015_2024.csv',
  (110, 13),
  ['year',
   'region_id',
   'region_name',
   'region_ons_code',
   'link_length_km',
   'link_length_miles',
   'pedal_cycles',
   'two_wheeled_motor_vehicles',
   'cars_and_taxis',
   'buses_and_coaches',
   'LGVs',
   'all_HGVs',
   'all_motor_vehicles'])]

In [62]:
import re

def score_fleet_df(df):
    cols = [c.lower() for c in df.columns]
    
    has_region = any("region" in c for c in cols) or any("region_name" in c for c in cols)
    has_year = any(c == "year" or "year" in c for c in cols)
    if not (has_region and has_year):
        return -1
    
    
    keywords = ["car", "lgv", "hgv", "bus", "coach", "motorcycle", "van", "taxi"]
    kw_count = sum(any(k in c for k in keywords) for c in cols)
    return kw_count

fleet_best = None
best_score = -1
fleet_best_name = None

for f in candidates:
    p = os.path.join(DATA_DIR, f)
    tmp = load_any(p)
    sc = score_fleet_df(tmp)
    if sc > best_score:
        best_score = sc
        fleet_best = tmp
        fleet_best_name = f

print("Best fleet/activity candidate:", fleet_best_name)
print("Score:", best_score)
print("Shape:", fleet_best.shape)
fleet_best.head()

Best fleet/activity candidate: region_traffic_by_vehicle_type.csv
Score: 4
Shape: (352, 13)

,year,region_id,region_name,region_ons_code,link_length_km,link_length_miles,pedal_cycles,two_wheeled_motor_vehicles,cars_and_taxis,buses_and_coaches,LGVs,all_HGVs,all_motor_vehicles
0,1993,1,South West,E12000009,48751.55,30292.81,228000000.0,289900000.0,1.967430e+10,245000000.0,2.351700e+09,1.295600e+09,2.385660e+10
1,1993,2,East Midlands,E12000004,30681.75,19064.76,199700000.0,172800000.0,1.620020e+10,190100000.0,2.082200e+09,1.647100e+09,2.029240e+10
2,1993,3,Scotland,S92000003,58532.65,36370.50,147300000.0,126400000.0,1.767760e+10,334300000.0,2.231000e+09,1.339900e+09,2.170930e+10
3,1993,4,Wales,W92000004,32543.50,20221.59,81700000.0,104600000.0,1.127880e+10,156300000.0,1.452700e+09,7.352000e+08,1.372760e+10
4,1993,5,North West,E12000002,35952.60,22339.91,251400000.0,199200000.0,2.373000e+10,339800000.0,2.801800e+09,1.834400e+09,2.890520e+10

In [63]:
fleet = fleet_best.copy()


dup_cols = fleet.columns[fleet.columns.duplicated()].tolist()
print("Duplicated columns:", dup_cols)


def dedup_columns(cols):
    seen = {}
    new_cols = []
    for c in cols:
        if c not in seen:
            seen[c] = 0
            new_cols.append(c)
        else:
            seen[c] += 1
            new_cols.append(f"{c}_{seen[c]+1}")
    return new_cols

fleet.columns = dedup_columns(list(fleet.columns))
print("After dedup, duplicated?:", fleet.columns.duplicated().any())
fleet.head()

Duplicated columns: []
After dedup, duplicated?: False

,year,region_id,region_name,region_ons_code,link_length_km,link_length_miles,pedal_cycles,two_wheeled_motor_vehicles,cars_and_taxis,buses_and_coaches,LGVs,all_HGVs,all_motor_vehicles
0,1993,1,South West,E12000009,48751.55,30292.81,228000000.0,289900000.0,1.967430e+10,245000000.0,2.351700e+09,1.295600e+09,2.385660e+10
1,1993,2,East Midlands,E12000004,30681.75,19064.76,199700000.0,172800000.0,1.620020e+10,190100000.0,2.082200e+09,1.647100e+09,2.029240e+10
2,1993,3,Scotland,S92000003,58532.65,36370.50,147300000.0,126400000.0,1.767760e+10,334300000.0,2.231000e+09,1.339900e+09,2.170930e+10
3,1993,4,Wales,W92000004,32543.50,20221.59,81700000.0,104600000.0,1.127880e+10,156300000.0,1.452700e+09,7.352000e+08,1.372760e+10
4,1993,5,North West,E12000002,35952.60,22339.91,251400000.0,199200000.0,2.373000e+10,339800000.0,2.801800e+09,1.834400e+09,2.890520e+10

In [64]:
emiss = df.copy()
emiss["year"] = emiss["year"].astype(int)


mapping = (
    fleet[["region_name", "region_ons_code"]]
    .dropna()
    .drop_duplicates()
)


emiss2 = emiss.merge(mapping, on="region_name", how="left")

print("Missing region_ons_code in emissions:", emiss2["region_ons_code"].isna().sum())
emiss2.head()

Missing region_ons_code in emissions: 0

     region_name  year  co2e_tonnes_total region_ons_code
0  East Midlands  2015       9.237719e+06       E12000004
1  East Midlands  2016       9.515900e+06       E12000004
2  East Midlands  2017       9.671759e+06       E12000004
3  East Midlands  2018       9.750602e+06       E12000004
4  East Midlands  2019       9.921433e+06       E12000004

In [65]:
import numpy as np

# traffic (fleet) years
fleet["year"] = fleet["year"].astype(int)

fleet_1524 = fleet[(fleet["year"] >= 2015) & (fleet["year"] <= 2024)].copy()
print("fleet_1524 shape:", fleet_1524.shape)
print("fleet_1524 years:", (fleet_1524["year"].min(), fleet_1524["year"].max()))

panel = emiss2.merge(
    fleet_1524,
    on=["region_ons_code", "year"],
    how="inner",
    suffixes=("", "_traffic")
)

print("Merged panel shape:", panel.shape)
panel[["region_name", "region_ons_code", "year", "co2e_tonnes_total" if "co2e_tonnes_total" in panel.columns else "co2e_tonnes_total"]].head()

fleet_1524 shape: (110, 13)
fleet_1524 years: (np.int64(2015), np.int64(2024))
Merged panel shape: (110, 15)

     region_name region_ons_code  year  co2e_tonnes_total
0  East Midlands       E12000004  2015       9.237719e+06
1  East Midlands       E12000004  2016       9.515900e+06
2  East Midlands       E12000004  2017       9.671759e+06
3  East Midlands       E12000004  2018       9.750602e+06
4  East Midlands       E12000004  2019       9.921433e+06

In [66]:
veh_cols = [
    "cars_and_taxis",
    "LGVs",
    "all_HGVs",
    "buses_and_coaches",
    "two_wheeled_motor_vehicles"
]

missing = [c for c in veh_cols if c not in panel.columns]
print("Missing vehicle cols:", missing)

panel["total_veh_activity"] = panel[veh_cols].sum(axis=1)

for c in veh_cols:
    panel[f"share_{c}"] = panel[c] / panel["total_veh_activity"].replace(0, np.nan)

# optional: log control
panel["ln_vehicle_activity"] = np.log(panel["total_veh_activity"].clip(lower=1e-9))

panel[[ "region_name","year","co2_tonnes_total" if "co2_tonnes_total" in panel.columns else "co2e_tonnes_total",
       "total_veh_activity"] + [f"share_{c}" for c in veh_cols]].head()

Missing vehicle cols: []

,region_name,year,co2e_tonnes_total,total_veh_activity,share_cars_and_taxis,share_LGVs,share_all_HGVs,share_buses_and_coaches,share_two_wheeled_motor_vehicles
0,East Midlands,2015,9.237719e+06,2.742470e+10,0.767199,0.149030,0.069317,0.006713,0.007741
1,East Midlands,2016,9.515900e+06,2.819000e+10,0.767662,0.148336,0.069365,0.007765,0.006871
2,East Midlands,2017,9.671759e+06,2.866560e+10,0.767565,0.148872,0.068884,0.008055,0.006625
3,East Midlands,2018,9.750602e+06,2.891750e+10,0.766702,0.149349,0.068875,0.007798,0.007276
4,East Midlands,2019,9.921433e+06,2.948880e+10,0.768339,0.149521,0.068002,0.007583,0.006555

In [67]:
OUT_PANEL = os.path.join(DATA_DIR, "region_year_panel_for_regression.csv")
panel.to_csv(OUT_PANEL, index=False)
print("Saved:", OUT_PANEL)
print("Final panel columns (subset):")
display(panel.columns)

Saved: D:\UWE CLASS\CSCT master\Master_project\Data\region_year_panel_for_regression.csv
Final panel columns (subset):

Index(['region_name', 'year', 'co2e_tonnes_total', 'region_ons_code',
       'region_id', 'region_name_traffic', 'link_length_km',
       'link_length_miles', 'pedal_cycles', 'two_wheeled_motor_vehicles',
       'cars_and_taxis', 'buses_and_coaches', 'LGVs', 'all_HGVs',
       'all_motor_vehicles', 'total_veh_activity', 'share_cars_and_taxis',
       'share_LGVs', 'share_all_HGVs', 'share_buses_and_coaches',
       'share_two_wheeled_motor_vehicles', 'ln_vehicle_activity'],
      dtype='object')

In [68]:
import numpy as np
import statsmodels.formula.api as smf

# dependent
panel["ln_co2"] = np.log(panel["co2e_tonnes_total"].clip(lower=1e-9))

# baseline: share_cars_and_taxis (omit)
# NOTE: Do NOT include baseline share to avoid collinearity (shares sum to ~1)
formula = """
ln_co2
~ share_LGVs
+ share_all_HGVs
+ share_buses_and_coaches
+ share_two_wheeled_motor_vehicles
+ ln_vehicle_activity
+ C(region_name)
+ C(year)
"""

# OLS with clustered SE by region
m = smf.ols(formula, data=panel).fit(
    cov_type="cluster",
    cov_kwds={"groups": panel["region_name"]}
)

print(m.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 ln_co2   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 5.105e+05
Date:                Thu, 08 Jan 2026   Prob (F-statistic):           3.63e-27
Time:                        11:45:13   Log-Likelihood:                 762.23
No. Observations:                 110   AIC:                            -1474.
Df Residuals:                      85   BIC:                            -1407.
Df Model:                          24
Covariance Type:              cluster
==============================================================================================================
                                                 coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------------------------------
Intercept                                     -7.9950      0.087    -91.500      0.000      -8.166      -7.824
C(region_name)[T.East of England]              0.0013      0.001      1.555      0.120      -0.000       0.003
C(region_name)[T.London]                      -0.0080      0.002     -3.731      0.000      -0.012      -0.004
C(region_name)[T.North East]                  -0.0121      0.004     -3.194      0.001      -0.019      -0.005
C(region_name)[T.North West]                  -0.0002      0.001     -0.237      0.813      -0.002       0.001
C(region_name)[T.Scotland]                    -0.0012      0.000     -2.725      0.006      -0.002      -0.000
C(region_name)[T.South East]                   0.0019      0.002      0.934      0.350      -0.002       0.006
C(region_name)[T.South West]                  -0.0025      0.001     -3.099      0.002      -0.004      -0.001
C(region_name)[T.Wales]                       -0.0085      0.002     -3.602      0.000      -0.013      -0.004
C(region_name)[T.West Midlands]                0.0003      0.000      0.760      0.447      -0.000       0.001
C(region_name)[T.Yorkshire and the Humber]    -0.0003      0.000     -1.545      0.122      -0.001    9.16e-05
C(year)[T.2016]                                0.0001      0.000      0.960      0.337      -0.000       0.000
C(year)[T.2017]                                0.0002      0.000      1.284      0.199      -0.000       0.001
C(year)[T.2018]                                0.0002      0.000      1.137      0.256      -0.000       0.001
C(year)[T.2019]                                0.0001      0.000      0.590      0.555      -0.000       0.001
C(year)[T.2020]                            -7.637e-05      0.001     -0.094      0.925      -0.002       0.002
C(year)[T.2021]                                0.0006      0.001      1.115      0.265      -0.000       0.002
C(year)[T.2022]                                0.0006      0.000      1.341      0.180      -0.000       0.001
C(year)[T.2023]                                0.0003      0.000      0.673      0.501      -0.001       0.001
C(year)[T.2024]                             5.797e-05      0.000      0.168      0.867      -0.001       0.001
share_LGVs                                     0.1575      0.015     10.735      0.000       0.129       0.186
share_all_HGVs                                 2.3574      0.031     76.608      0.000       2.297       2.418
share_buses_and_coaches                        1.7585      0.069     25.668      0.000       1.624       1.893
share_two_wheeled_motor_vehicles              -0.4614      0.020    -22.996      0.000      -0.501      -0.422
ln_vehicle_activity                            0.9918      0.004    274.665      0.000       0.985       0.999
==============================================================================
Omnibus:                        4.970   Durbin-Watson:                   1.432
Prob(Omnibus):                  0.083   Jarque-Bera (JB):                4.340
Skew:                          -0.436   Prob(JB):                        0.114
Kurtosis:                       3.433   Cond. No.                     5.02e+04
==============================================================================

Notes:
[1] Standard Errors are robust to cluster correlation (cluster)
[2] The condition number is large, 5.02e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [69]:
import pandas as pd

coef_table = pd.DataFrame({
    "coef": m.params,
    "std_err": m.bse,
    "t": m.tvalues,
    "p": m.pvalues
})

main_vars = [
    "share_LGVs",
    "share_all_HGVs",
    "share_buses_and_coaches",
    "share_two_wheeled_motor_vehicles",
    "ln_vehicle_activity"
]

coef_table.loc[[v for v in main_vars if v in coef_table.index]].sort_index()

,coef,std_err,t,p
ln_vehicle_activity,0.991846,0.003611,274.664747,0.000000e+00
share_LGVs,0.157537,0.014676,10.734572,7.004279e-27
share_all_HGVs,2.357404,0.030772,76.608199,0.000000e+00
share_buses_and_coaches,1.758470,0.068508,25.667954,2.665417e-145
share_two_wheeled_motor_vehicles,-0.461411,0.020065,-22.996312,5.074747e-117

In [70]:
formula_tot_nocontrol = """
ln_co2
~ share_LGVs
+ share_all_HGVs
+ share_buses_and_coaches
+ share_two_wheeled_motor_vehicles
+ C(region_name)
+ C(year)
"""

m2 = smf.ols(formula_tot_nocontrol, data=panel).fit(
    cov_type="cluster",
    cov_kwds={"groups": panel["region_name"]}
)

print(m2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 ln_co2   R-squared:                       0.999
Model:                            OLS   Adj. R-squared:                  0.999
Method:                 Least Squares   F-statistic:                     393.8
Date:                Thu, 08 Jan 2026   Prob (F-statistic):           1.30e-11
Time:                        11:45:13   Log-Likelihood:                 329.99
No. Observations:                 110   AIC:                            -612.0
Df Residuals:                      86   BIC:                            -547.2
Df Model:                          23
Covariance Type:              cluster
==============================================================================================================
                                                 coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------------------------------
Intercept                                     16.3205      0.214     76.125      0.000      15.900      16.741
C(region_name)[T.East of England]              0.2445      0.017     14.333      0.000       0.211       0.278
C(region_name)[T.London]                      -0.4292      0.031    -13.740      0.000      -0.490      -0.368
C(region_name)[T.North East]                  -0.9820      0.044    -22.407      0.000      -1.068      -0.896
C(region_name)[T.North West]                   0.1495      0.028      5.394      0.000       0.095       0.204
C(region_name)[T.Scotland]                    -0.0143      0.016     -0.906      0.365      -0.045       0.017
C(region_name)[T.South East]                   0.5430      0.034     15.789      0.000       0.476       0.610
C(region_name)[T.South West]                   0.1052      0.036      2.905      0.004       0.034       0.176
C(region_name)[T.Wales]                       -0.5413      0.040    -13.572      0.000      -0.620      -0.463
C(region_name)[T.West Midlands]                0.0765      0.012      6.602      0.000       0.054       0.099
C(region_name)[T.Yorkshire and the Humber]    -0.0287      0.006     -4.842      0.000      -0.040      -0.017
C(year)[T.2016]                                0.0296      0.005      5.666      0.000       0.019       0.040
C(year)[T.2017]                                0.0453      0.006      7.943      0.000       0.034       0.056
C(year)[T.2018]                                0.0526      0.007      7.521      0.000       0.039       0.066
C(year)[T.2019]                                0.0636      0.008      8.073      0.000       0.048       0.079
C(year)[T.2020]                               -0.1064      0.036     -2.995      0.003      -0.176      -0.037
C(year)[T.2021]                                0.0018      0.033      0.055      0.956      -0.062       0.066
C(year)[T.2022]                                0.0609      0.024      2.491      0.013       0.013       0.109
C(year)[T.2023]                                0.0690      0.021      3.261      0.001       0.028       0.110
C(year)[T.2024]                                0.0797      0.021      3.845      0.000       0.039       0.120
share_LGVs                                    -1.2078      0.856     -1.412      0.158      -2.885       0.469
share_all_HGVs                                -1.1276      1.391     -0.811      0.418      -3.854       1.599
share_buses_and_coaches                        2.5971      2.638      0.984      0.325      -2.574       7.768
share_two_wheeled_motor_vehicles              -4.4760      1.043     -4.291      0.000      -6.520      -2.432
==============================================================================
Omnibus:                        0.443   Durbin-Watson:                   1.008
Prob(Omnibus):                  0.801   Jarque-Bera (JB):                0.582
Skew:                           0.128   Prob(JB):                        0.748
Kurtosis:                       2.753   Cond. No.                     1.81e+03
==============================================================================

Notes:
[1] Standard Errors are robust to cluster correlation (cluster)
[2] The condition number is large, 1.81e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [71]:
import numpy as np
import statsmodels.formula.api as smf

# 1) Create emissions intensity (CO2 per total vehicle activity)
panel["ln_intensity"] = np.log((panel["co2e_tonnes_total"] / panel["total_veh_activity"]).clip(lower=1e-12))

# 2) Two-way fixed effects via dummies + clustered SE by region
formula_int = """
ln_intensity
~ share_LGVs
+ share_all_HGVs
+ share_buses_and_coaches
+ share_two_wheeled_motor_vehicles
+ C(region_name)
+ C(year)
"""

m_int = smf.ols(formula_int, data=panel).fit(
    cov_type="cluster",
    cov_kwds={"groups": panel["region_name"]}
)

print(m_int.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           ln_intensity   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 1.451e+05
Date:                Thu, 08 Jan 2026   Prob (F-statistic):           1.96e-24
Time:                        11:45:13   Log-Likelihood:                 753.36
No. Observations:                 110   AIC:                            -1459.
Df Residuals:                      86   BIC:                            -1394.
Df Model:                          23
Covariance Type:              cluster
==============================================================================================================
                                                 coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------------------------------
Intercept                                     -8.1949      0.004  -1823.766      0.000      -8.204      -8.186
C(region_name)[T.East of England]             -0.0007      0.001     -1.201      0.230      -0.002       0.000
C(region_name)[T.London]                      -0.0045      0.001     -5.438      0.000      -0.006      -0.003
C(region_name)[T.North East]                  -0.0041      0.001     -4.521      0.000      -0.006      -0.002
C(region_name)[T.North West]                  -0.0014      0.001     -1.963      0.050      -0.003   -2.41e-06
C(region_name)[T.Scotland]                    -0.0011      0.000     -2.243      0.025      -0.002      -0.000
C(region_name)[T.South East]                  -0.0026      0.001     -2.604      0.009      -0.005      -0.001
C(region_name)[T.South West]                  -0.0034      0.001     -3.215      0.001      -0.005      -0.001
C(region_name)[T.Wales]                       -0.0041      0.001     -3.594      0.000      -0.006      -0.002
C(region_name)[T.West Midlands]               -0.0003      0.000     -0.944      0.345      -0.001       0.000
C(region_name)[T.Yorkshire and the Humber]    -0.0001      0.000     -0.571      0.568      -0.000       0.000
C(year)[T.2016]                               -0.0001      0.000     -1.262      0.207      -0.000    7.64e-05
C(year)[T.2017]                               -0.0002      0.000     -1.419      0.156      -0.000    6.31e-05
C(year)[T.2018]                               -0.0002      0.000     -1.501      0.133      -0.000     6.4e-05
C(year)[T.2019]                               -0.0004      0.000     -2.294      0.022      -0.001   -5.52e-05
C(year)[T.2020]                                0.0008      0.001      1.398      0.162      -0.000       0.002
C(year)[T.2021]                                0.0006      0.001      1.097      0.273      -0.000       0.002
C(year)[T.2022]                             8.256e-05      0.001      0.162      0.871      -0.001       0.001
C(year)[T.2023]                               -0.0003      0.000     -0.618      0.537      -0.001       0.001
C(year)[T.2024]                               -0.0006      0.000     -1.354      0.176      -0.001       0.000
share_LGVs                                     0.1688      0.018      9.570      0.000       0.134       0.203
share_all_HGVs                                 2.3861      0.034     70.888      0.000       2.320       2.452
share_buses_and_coaches                        1.7516      0.079     22.275      0.000       1.597       1.906
share_two_wheeled_motor_vehicles              -0.4284      0.026    -16.405      0.000      -0.480      -0.377
==============================================================================
Omnibus:                        3.612   Durbin-Watson:                   1.279
Prob(Omnibus):                  0.164   Jarque-Bera (JB):                2.985
Skew:                          -0.336   Prob(JB):                        0.225
Kurtosis:                       3.447   Cond. No.                     1.81e+03
==============================================================================

Notes:
[1] Standard Errors are robust to cluster correlation (cluster)
[2] The condition number is large, 1.81e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [72]:
import pandas as pd

coef_int = pd.DataFrame({
    "coef": m_int.params,
    "std_err": m_int.bse,
    "t": m_int.tvalues,
    "p": m_int.pvalues
})

main_vars = [
    "share_LGVs",
    "share_all_HGVs",
    "share_buses_and_coaches",
    "share_two_wheeled_motor_vehicles"
]

coef_int.loc[[v for v in main_vars if v in coef_int.index]].sort_index()

                                      coef   std_err          t              p
share_LGVs                        0.168763  0.017635   9.569553   1.073687e-21
share_all_HGVs                    2.386055  0.033660  70.887503   0.000000e+00
share_buses_and_coaches           1.751576  0.078634  22.274905  6.471504e-110
share_two_wheeled_motor_vehicles -0.428405  0.026115 -16.404740   1.768818e-60