In [ ]:
import os
import pandas as pd
import numpy as np

DATA_DIR = r"D:\UWE CLASS\CSCT master\Master_project\Data"

BREAKDOWN_FILE = os.path.join(DATA_DIR, "region_year_vehicle_co2e_breakdown.csv")

df_bd = pd.read_csv(BREAKDOWN_FILE)
print("shape:", df_bd.shape)
print("columns:", list(df_bd.columns))
display(df_bd.head(10))

shape: (550, 6)
columns: ['region_name', 'year', 'vehicle_std', 'activity_km', 'share_activity', 'co2e_tonnes']

,region_name,year,vehicle_std,activity_km,share_activity,co2e_tonnes
0,South West,2015,motorcycle,589501242.0,0.011036,51697.785170
1,East Midlands,2015,motorcycle,341662882.0,0.007741,29962.980594
2,Scotland,2015,motorcycle,284692246.0,0.006320,24966.798244
3,Wales,2015,motorcycle,222571722.0,0.007745,19518.983590
4,North West,2015,motorcycle,355181338.0,0.006299,31148.515389
5,London,2015,motorcycle,670129176.0,0.021191,58768.653412
6,East of England,2015,motorcycle,470249148.0,0.008129,41239.674657
7,Yorkshire and the Humber,2015,motorcycle,332650578.0,0.007623,29172.624064
8,South East,2015,motorcycle,731123162.0,0.008517,64117.673499
9,West Midlands,2015,motorcycle,316879046.0,0.006304,27789.500137

In [2]:
year_col = next((c for c in df_bd.columns if c.lower() == "year" or "year" in c.lower()), None)
region_col = next((c for c in df_bd.columns if "region" in c.lower() and "code" not in c.lower() and "id" not in c.lower()), None)
veh_col = next((c for c in df_bd.columns if "vehicle" in c.lower() or "type" in c.lower()), None)
em_col = next((c for c in df_bd.columns if "co2" in c.lower() and ("ton" in c.lower() or "emiss" in c.lower())), None)

print("Detected -> year:", year_col, "| region:", region_col, "| vehicle:", veh_col, "| emissions:", em_col)

if year_col:
    print("Year range:", df_bd[year_col].min(), "to", df_bd[year_col].max())
if veh_col:
    print("Vehicle types (sample):", df_bd[veh_col].dropna().unique()[:15])

Detected -> year: year | region: region_name | vehicle: vehicle_std | emissions: co2e_tonnes
Year range: 2015 to 2024
Vehicle types (sample): ['motorcycle' 'car' 'bus' 'lgv' 'hgv']